.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0077be;
  color: white;
  padding: 10px;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  margin-right: 10px;
}
.header ul li:hover a {
  padding: 4px 10px;

  background-color: white;
  color: #0077be;
  border-radius: 20px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
}

.login button  {
  margin-left: 10px;
  background-color: #0077be;
  border: none;
  padding: 10px;
  margin-left: 20px; 
  cursor: pointer;
}
.login button a{
  color: white;
  text-decoration: none;
}

.login button:hover {
  background-color: white;
  color: #0077be;
  border-radius: 20px;
}

.login button:hover a{
  color: #0077be;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  color: white;
  padding: 20px;
}

.login-container form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-container input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 6px;

  
}
.login-container input:focus {
  outline: none;
}

.login-container button {
  background-color: #0077be;
  color: white;
  padding: 10px 40px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}


.err-text-danger {
  font-size: 12px;
  display: block;
  color: red;
}
.err-hide{
  display: none;
}

.login-container a{
  text-decoration: none;
  color: #0077be;
  font-size: 10px;
}

.user {
  display: flex;
  align-items: center;
  position: relative;
}

.user img {
  /* Thiết lập kích thước cho hình ảnh */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user span {
  /* Thiết lập font size và màu chữ */
  font-size: 14px;
  color: white;
}

.logout-button {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-40%);
  background-color: white;
  color: #0077be;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.user:hover .logout-button {
  display: block;
  top: 25px;
  white-space: nowrap;
}

footer{
  background-color: #f8f9fa;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

.register-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  color: white;
  padding: 20px;
  }

  .register-user form {
    background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .register-user div:first-child {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0077be;
  font-weight: 600;
  }
  .register-user div:last-child {
    font-size: 12px;
    color: #0077be;
    }
    .register-user div:last-child a {
      font-size: 14px;
      text-decoration: none;
      color: red;
      font-weight: 400;
      }

  .login-container div:first-child {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0077be;
    font-weight: 600;
    }
  
  .register-user input {
    width: 100%;
    padding: 10px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 6px;

  }
  .register-user input[type="file"] {
    width: 225px;

  }

  .register-user input:focus{
    outline: none;
  }
  
  .register-user button {
    background-color: #0077be;
    color: white;
    padding: 10px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .err{
    border: 2px solid red !important;
  }
